@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
  &__buttons-container {
    @include flexbox(center, center, column);

    padding-left: 14px;
    min-width: 80vw;
    padding-right: 14px;
  }
}

.buttons {
  &__flexbox-one {
    @include flexbox(_, _, column);
    margin-right: 24px;
  }
  &__flexbox-two {
    @include flexbox(_, _, column);
  }
  &__flexbox-main {
    @include flexbox();
    margin-top: 20px;
  }
}
