@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
  &__buttons-container {
    @include flexbox(center, center, column);

    margin: 0;
    position: absolute;
    top: 37%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    margin-top: 80px;

    flex: 1;
    overflow: auto;
    // height: 800px;
    height: 100%;
  }
}

.buttons {
  &__flexbox-one {
    @include flexbox(_, _, column);
    margin-right: 24px;
  }
  &__flexbox-two {
    @include flexbox(_, _, column);
  }
  &__flexbox-main {
    @include flexbox();
  }
}
