@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: "AvenirNext LT Pro";
  color: $Medz-Black;
  background-color: $Medz-Pink;
  width: 100%;
  position: relative;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  font-size: 14px;
}

.app {
  &__page-container {
    position: relative;
    min-height: 100vh;
  }
  &__content-wrap {
    padding-bottom: 60px;
  }
}

.link-tags {
  text-decoration: none;
}

.home-page-buttons {
  @include button;
}

.avatar {
  min-height: 50px;
  max-height: 50px;
  min-width: 50px;
  max-width: 50px;
}
