@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
.dialer-button:focus,
.dialer-button:active,
.dialer-button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
}

.dropdown-menu li a {
  padding: 3px 10px;
}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2;
  border-radius: 30px;
}

.controls,
.keys {
  padding-top: 10px;
}

.controls {
  float: left;
}

.controls .btn {
  display: block;
  margin-bottom: 20px;
}

.keys {
  padding-left: 20px;
  float: right;
  text-align: center;
  color: #fff;
}

.key-row {
  margin-bottom: 20px;
}

.key-row .btn {
  font-weight: 100;
}

.key-row .btn span {
  display: block;
  padding-top: 2px;
  font-size: 10px;
  color: #787878;
}

.log {
  background-color: #ddd;
  clear: both;
  padding: 20px 10px;
  text-align: center;
  font-size: 12px;
  color: #787878;
}

#dialer {
  margin: 0px auto 20px;
  padding: 10px;
  width: 259px;
  text-align: center;
  background-color: $Medz-Red;
  color: $Medz-Black;
}

.dialer {
  &__country-list {
    list-style-type: none;
    text-align: left;
    font-weight: 600;
  }
  &__paragraphs {
    font-size: 10px;
    color: #787878;
    font-style: italic;
    margin-top: 10px;
  }
  &__contents-container {
    @include flexbox(_, _, column);
    padding: 0px 10px;
    @include tablet {
      @include flexbox(space-evenly, _, row);
    }
  }
  &__contents-one {
    margin-right: 16px;
    margin-bottom: 16px;
    @include tablet {
      width: 30vw;
    }
  }
  &__contents-two {
    @include tablet {
      width: 30vw;
    }
  }
  &__text {
    margin-bottom: 10px;
  }
  &__heading {
    margin-bottom: 10px;
    background-color: $Medz-Purple;
    text-align: center;
    border-top: 2px $Medz-Blue solid;
    border-bottom: 2px $Medz-Blue solid;
  }
}

.phone-icon {
  margin-top: 4px;
  max-width: 30px;
  max-height: 25px;
  min-width: 30px;
  min-height: 25px;
  fill: $Medz-White;
}

.btn-success {
  background-color: green;
}

.btn-danger {
  background-color: $Medz-Red;
}
.mic {
  margin-top: 4px;
  max-width: 30px;
  max-height: 25px;
  min-width: 30px;
  min-height: 25px;
}

.dropdown-toggle {
  position: absolute;
  bottom: 0px;
  left: -4px;

  margin-left: 10px;
}

.form-control {
  margin-left: 46px;
}
.form-container {
  position: relative;
}
