@use "../../styles/partials/variables" as *;

.alarm-btn {
  background-color: $Medz-Orange !important;
  color: $Medz-Global-Text !important;
}

.alarm-btn-audio-icon {
  img {
   margin-top: 20px !important;
  }
}
