@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flexbox(
  $justify-content: flex-start,
  $align-items: stretch,
  $flex-direction: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin button {
  // min-height: 80px;
  min-height: 104px;

  // min-width: 70vw;
  min-width: 40vw;
  max-width: 95vw;

  border-radius: 20px;
  background-color: $Medz-Red;
  color: $Medz-White;
  font-family: "AvenirNext LT Pro";
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  border: transparent;
  margin-bottom: 24px;
  &:hover {
    background-color: $Medz-Purple;
    border: 4px outset white;
    cursor: pointer;
  }
}
