$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$Medz-Black: #000000;
$Medz-Silver: #afafaf;
$Medz-Blue: #3a86ff;
$Medz-DarkBlue: #073252;
$Medz-Red: #d62828;
$Medz-Pink: #fff0f3;
$Medz-Global-Text: #ffffff;
$Medz-White: #ffffff;
