@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.create-profile {
  @include flexbox(_, _, column);

  &__heading {
    @include flexbox(center, center, _);
    background-color: $Medz-Purple;
    margin-bottom: 16px;
    padding-top: 2px;
    font-size: 14px;
    min-height: 38px;
    border-top: 2px $Medz-Blue solid;
    border-bottom: 2px $Medz-Blue solid;

    @include tablet {
      font-size: 20px;
    }
  }
  &__title {
    margin-right: 10px;
    margin-bottom: 3px;
    color: $Medz-White;
    font-weight: 600;
    font-size: 14px;
    @include tablet {
      font-size: 20px;
    }
  }

  &__input-container {
    margin-left: 5vw;
    margin-bottom: 12px;
    @include big-mobile {
      margin-left: 0vw;
    }
  }
  &__all-flexbox {
    background-color: $Medz-Red;
    padding-top: 12px;
  }
  &__buttons-container {
    background-color: $Medz-Pink;
    padding: 16px 0px 16px;
    @include flexbox(space-around, _, _);
  }

  &__btns {
    min-height: 50px;
    min-width: 35vw;
    max-width: 95vw;
    border-radius: 20px;
    background-color: $Medz-Blue;
    color: $Medz-White;
    font-family: "AvenirNext LT Pro";
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
    border: transparent;
    &:hover {
      background-color: $Medz-Purple;
      border: 4px outset $Medz-White;
      cursor: pointer;
    }
    &--cancel {
      &:hover {
        background-color: $Medz-Black;
        border: 4px outset $Medz-White;
        cursor: pointer;
      }
    }
  }
  &__textarea {
    min-height: 50px;
    min-width: 90vw;
    max-width: 95vw;
    border-radius: 20px;
    border-color: $Medz-Black;
    font-size: 14px;
    font-family: "AvenirNext LT Pro";
    padding: 12px;
    background-color: $Medz-Pink;
    resize: none;

    @include big-mobile {
      font-size: 18px;
      min-width: 35vw;
      max-width: 35vw;
    }
  }
  &__input {
    min-height: 50px;
    min-width: 90vw;
    max-width: 95vw;
    border-radius: 15px;
    border-width: 1px;
    border-color: $Medz-Black;
    font-size: 14px;
    font-family: "AvenirNext LT Pro";
    padding: 12px;
    background-color: $Medz-Pink;
    @include big-mobile {
      font-size: 18px;
      min-width: 38vw;
      max-width: 38vw;
    }
  }
  &__textbox-one {
    @include big-mobile {
      @include flexbox(_, _, column);
      min-width: 35%;
      max-width: 35%;
    }
  }
  &__textbox-two {
    @include big-mobile {
      @include flexbox(_, _, column);
      min-width: 35%;
      max-width: 35%;
    }
  }
  &__container {
    @include big-mobile {
      @include flexbox(space-around, _, _);
    }
  }
}
