@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.instructions {
  padding: 16px;
  @include tablet {
    padding: 24px;
  }

  &__heading {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding: 4px 0px 0px;

    @include tablet {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__heading-container {
    background-color: $Medz-Red;
    margin-right: -16px;
    margin-left: -16px;
  }
  &__text {
    font-size: 15px;
    line-height: 26px;
    @include tablet {
      font-size: 16px;
      line-height: 28px;
    }
    &--easy {
      margin-bottom: 10px;
    }
  }
  &__divider {
    border-bottom: 2px $Medz-Blue solid;
    margin-right: -16px;
    margin-left: -16px;
    &--bottom {
      margin-bottom: 16px;
      @include tablet {
        margin-bottom: 24px;
      }
    }
    &--top {
      margin-top: 16px;
      @include tablet {
        margin-top: 24px;
      }
    }
  }

  &__text-one {
    font-weight: 600;
    padding-bottom: 10px;
  }
  &__italics {
    font-style: italic;
  }
  &__bold {
    font-weight: 600;
  }
  &__list-title {
    margin-top: 10px;
  }
}
